<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hey</title>
</head>

<body>
    <a href="/AF" >Afghanistan</a><br>
    <a href="/AX" >Åland Islands</a><br>
    <a href="/AL" >Albania</a><br>
    <a href="/DZ" >Algeria</a><br>
    <a href="/AS" >American Samoa</a><br>
    <a href="/AD" >Andorra</a><br>
    <a href="/AO" >Angola</a><br>
    <a href="/AI" >Anguilla</a><br>
    <a href="/AG" >Antigua and Barbuda</a><br>
    <a href="/AR" >Argentina</a><br>
    <a href="/AM" >Armenia</a><br>
    <a href="/AW" >Aruba</a><br>
    <a href="/AU" >Australia</a><br>
    <a href="/AT" >Austria</a><br>
    <a href="/AZ" >Azerbaijan</a><br>
    <a href="/BS" >Bahamas</a><br>
    <a href="/BH" >Bahrain</a><br>
    <a href="/BD" >Bangladesh</a><br>
    <a href="/BB" >Barbados</a><br>
    <a href="/BY" >Belarus</a><br>
    <a href="/BE" >Belgium</a><br>
    <a href="/BZ" >Belize</a><br>
    <a href="/BJ" >Benin</a><br>
    <a href="/BM" >Bermuda</a><br>
    <a href="/BT" >Bhutan</a><br>
    <a href="/BO" >Bolivia</a><br>
    <a href="/BA" >Bosnia and Herzegovina</a><br>
    <a href="/BW" >Botswana</a><br>
    <a href="/BR" >Brazil</a><br>
    <a href="/IO" >British Indian Ocean Territory</a><br>
    <a href="/VG" >British Virgin Islands</a><br>
    <a href="/BN" >Brunei</a><br>
    <a href="/BG" >Bulgaria</a><br>
    <a href="/BF" >Burkina Faso</a><br>
    <a href="/BI" >Burundi</a><br>
    <a href="/KH" >Cambodia</a><br>
    <a href="/CM" >Cameroon</a><br>
    <a href="/CA" >Canada</a><br>
    <a href="/CV" >Cape Verde</a><br>
    <a href="/BQ" >Caribbean Netherlands</a><br>
    <a href="/KY" >Cayman Islands</a><br>
    <a href="/CF" >Central African Republic</a><br>
    <a href="/TD" >Chad</a><br>
    <a href="/CL" >Chile</a><br>
    <a href="/CN" >China</a><br>
    <a href="/CX" >Christmas Island</a><br>
    <a href="/CC" >Cocos [Keeling] Islands</a><br>
    <a href="/CO" >Colombia</a><br>
    <a href="/KM" >Comoros</a><br>
    <a href="/CG" >Congo</a><br>
    <a href="/CK" >Cook Islands</a><br>
    <a href="/CR" >Costa Rica</a><br>
    <a href="/HR" >Croatia</a><br>
    <a href="/CU" >Cuba</a><br>
    <a href="/CW" >Curaçao</a><br>
    <a href="/CY" >Cyprus</a><br>
    <a href="/CZ" >Czech Republic</a><br>
    <a href="/CD" >Democratic Republic of the Congo</a><br>
    <a href="/DK" >Denmark</a><br>
    <a href="/DJ" >Djibouti</a><br>
    <a href="/DM" >Dominica</a><br>
    <a href="/DO" >Dominican Republic</a><br>
    <a href="/TL" >East Timor</a><br>
    <a href="/EC" >Ecuador</a><br>
    <a href="/EG" >Egypt</a><br>
    <a href="/SV" >El Salvador</a><br>
    <a href="/GQ" >Equatorial Guinea</a><br>
    <a href="/ER" >Eritrea</a><br>
    <a href="/EE" >Estonia</a><br>
    <a href="/ET" >Ethiopia</a><br>
    <a href="/FK" >Falkland Islands [Islas Malvinas]</a><br>
    <a href="/FO" >Faroe Islands</a><br>
    <a href="/FJ" >Fiji</a><br>
    <a href="/FI" >Finland</a><br>
    <a href="/FR" >France</a><br>
    <a href="/GF" >French Guiana</a><br>
    <a href="/PF" >French Polynesia</a><br>
    <a href="/GA" >Gabon</a><br>
    <a href="/GM" >Gambia</a><br>
    <a href="/GE" >Georgia</a><br>
    <a href="/DE" >Germany</a><br>
    <a href="/GH" >Ghana</a><br>
    <a href="/GI" >Gibraltar</a><br>
    <a href="/GR" >Greece</a><br>
    <a href="/GL" >Greenland</a><br>
    <a href="/GD" >Grenada</a><br>
    <a href="/GP" >Guadeloupe</a><br>
    <a href="/GU" >Guam</a><br>
    <a href="/GT" >Guatemala</a><br>
    <a href="/GG" >Guernsey</a><br>
    <a href="/GN" >Guinea</a><br>
    <a href="/GW" >Guinea-Bissau</a><br>
    <a href="/GY" >Guyana</a><br>
    <a href="/HT" >Haiti</a><br>
    <a href="/HN" >Honduras</a><br>
    <a href="/HK" >Hong Kong</a><br>
    <a href="/HU" >Hungary</a><br>
    <a href="/IS" >Iceland</a><br>
    <a href="/IN" >India</a><br>
    <a href="/ID" >Indonesia</a><br>
    <a href="/IQ" >Iraq</a><br>
    <a href="/IE" >Ireland</a><br>
    <a href="/IM" >Isle of Man</a><br>
    <a href="/IL" >Israel</a><br>
    <a href="/IT" >Italy</a><br>
    <a href="/CI" >Ivory Coast</a><br>
    <a href="/JM" >Jamaica</a><br>
    <a href="/JP" >Japan</a><br>
    <a href="/JE" >Jersey</a><br>
    <a href="/JO" >Jordan</a><br>
    <a href="/KZ" >Kazakhstan</a><br>
    <a href="/KE" >Kenya</a><br>
    <a href="/KI" >Kiribati</a><br>
    <a href="/KW" >Kuwait</a><br>
    <a href="/KG" >Kyrgyzstan</a><br>
    <a href="/LA" >Laos</a><br>
    <a href="/LV" >Latvia</a><br>
    <a href="/LB" >Lebanon</a><br>
    <a href="/LS" >Lesotho</a><br>
    <a href="/LR" >Liberia</a><br>
    <a href="/LY" >Libya</a><br>
    <a href="/LI" >Liechtenstein</a><br>
    <a href="/LT" >Lithuania</a><br>
    <a href="/LU" >Luxembourg</a><br>
    <a href="/MO" >Macau</a><br>
    <a href="/MK" >Macedonia</a><br>
    <a href="/MG" >Madagascar</a><br>
    <a href="/MW" >Malawi</a><br>
    <a href="/MY" >Malaysia</a><br>
    <a href="/MV" >Maldives</a><br>
    <a href="/ML" >Mali</a><br>
    <a href="/MT" >Malta</a><br>
    <a href="/MH" >Marshall Islands</a><br>
    <a href="/MQ" >Martinique</a><br>
    <a href="/MR" >Mauritania</a><br>
    <a href="/MU" >Mauritius</a><br>
    <a href="/YT" >Mayotte</a><br>
    <a href="/MX" >Mexico</a><br>
    <a href="/FM" >Micronesia</a><br>
    <a href="/MD" >Moldova</a><br>
    <a href="/MC" >Monaco</a><br>
    <a href="/MN" >Mongolia</a><br>
    <a href="/ME" >Montenegro</a><br>
    <a href="/MS" >Montserrat</a><br>
    <a href="/MA" >Morocco</a><br>
    <a href="/MZ" >Mozambique</a><br>
    <a href="/MM" >Myanmar [Burma]</a><br>
    <a href="/NA" >Namibia</a><br>
    <a href="/NR" >Nauru</a><br>
    <a href="/NP" >Nepal</a><br>
    <a href="/NL" >Netherlands</a><br>
    <a href="/NC" >New Caledonia</a><br>
    <a href="/NZ" >New Zealand</a><br>
    <a href="/NI" >Nicaragua</a><br>
    <a href="/NE" >Niger</a><br>
    <a href="/NG" >Nigeria</a><br>
    <a href="/NU" >Niue</a><br>
    <a href="/NF" >Norfolk Island</a><br>
    <a href="/MP" >Northern Mariana Islands</a><br>
    <a href="/NO" >Norway</a><br>
    <a href="/OM" >Oman</a><br>
    <a href="/PK" >Pakistan</a><br>
    <a href="/PW" >Palau</a><br>
    <a href="/PS" >Palestinian Territories</a><br>
    <a href="/PA" >Panama</a><br>
    <a href="/PG" >Papua New Guinea</a><br>
    <a href="/PY" >Paraguay</a><br>
    <a href="/PE" >Peru</a><br>
    <a href="/PH" >Philippines</a><br>
    <a href="/PN" >Pitcairn Islands</a><br>
    <a href="/PL" >Poland</a><br>
    <a href="/PT" >Portugal</a><br>
    <a href="/PR" >Puerto Rico</a><br>
    <a href="/QA" >Qatar</a><br>
    <a href="/RE" >Réunion</a><br>
    <a href="/RO" >Romania</a><br>
    <a href="/RU" >Russia</a><br>
    <a href="/RW" >Rwanda</a><br>
    <a href="/BL" >Saint Barthélemy</a><br>
    <a href="/SH" >Saint Helena</a><br>
    <a href="/KN" >Saint Kitts and Nevis</a><br>
    <a href="/LC" >Saint Lucia</a><br>
    <a href="/MF" >Saint Martin</a><br>
    <a href="/PM" >Saint Pierre and Miquelon</a><br>
    <a href="/VC" >Saint Vincent and the Grenadines</a><br>
    <a href="/WS" >Samoa</a><br>
    <a href="/SM" >San Marino</a><br>
    <a href="/ST" >São Tomé and Príncipe</a><br>
    <a href="/SA" >Saudi Arabia</a><br>
    <a href="/SN" >Senegal</a><br>
    <a href="/RS" >Serbia</a><br>
    <a href="/SC" >Seychelles</a><br>
    <a href="/SL" >Sierra Leone</a><br>
    <a href="/SG" >Singapore</a><br>
    <a href="/SX" >Sint Maarten</a><br>
    <a href="/SK" >Slovakia</a><br>
    <a href="/SI" >Slovenia</a><br>
    <a href="/SB" >Solomon Islands</a><br>
    <a href="/SO" >Somalia</a><br>
    <a href="/ZA" >South Africa</a><br>
    <a href="/GS" >South Georgia and the South Sandwich Islands</a><br>
    <a href="/KR" >South Korea</a><br>
    <a href="/SS" >South Sudan</a><br>
    <a href="/ES" >Spain</a><br>
    <a href="/LK" >Sri Lanka</a><br>
    <a href="/SR" >Suriname</a><br>
    <a href="/SJ" >Svalbard and Jan Mayen</a><br>
    <a href="/SZ" >Swaziland</a><br>
    <a href="/SE" >Sweden</a><br>
    <a href="/CH" >Switzerland</a><br>
    <a href="/TW" >Taiwan</a><br>
    <a href="/TJ" >Tajikistan</a><br>
    <a href="/TZ" >Tanzania</a><br>
    <a href="/TH" >Thailand</a><br>
    <a href="/TG" >Togo</a><br>
    <a href="/TK" >Tokelau</a><br>
    <a href="/TO" >Tonga</a><br>
    <a href="/TT" >Trinidad and Tobago</a><br>
    <a href="/TN" >Tunisia</a><br>
    <a href="/TR" >Turkey</a><br>
    <a href="/TM" >Turkmenistan</a><br>
    <a href="/TC" >Turks and Caicos Islands</a><br>
    <a href="/TV" >Tuvalu</a><br>
    <a href="/VI" >U.S. Virgin Islands</a><br>
    <a href="/UG" >Uganda</a><br>
    <a href="/UA" >Ukraine</a><br>
    <a href="/AE" >United Arab Emirates</a><br>
    <a href="/GB" >United Kingdom</a><br>
    <a href="/US" >United States</a><br>
    <a href="/UY" >Uruguay</a><br>
    <a href="/UZ" >Uzbekistan</a><br>
    <a href="/VU" >Vanuatu</a><br>
    <a href="/VA" >Vatican City</a><br>
    <a href="/VE" >Venezuela</a><br>
    <a href="/VN" >Vietnam</a><br>
    <a href="/WF" >Wallis and Futuna</a><br>
    <a href="/EH" >Western Sahara</a><br>
    <a href="/YE" >Yemen</a><br>
    <a href="/ZM" >Zambia</a><br>
    <a href="/ZW" >Zimbabwe</a><br>
</body>

</html>